.team {
    background: red;
}

.eight {
    width: 200px;
    height: 200px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eight:hover{
    transform: rotate(90deg);
}