.roy-flex {
    display: flex; 
    // justify-content: center;
    
   
    // flex-direction: column;
}
.tabs-sahiba {
    width: 5%;
    align-self: flex-start;
}

.main-lindsay {
    width: 80%;
}
