.container {
    width: auto;
    border: 1px solid white;
    height: 1000px;
    overflow: scroll;
    border: none;
}

.container2 {
    width: auto;
    height: 100%;
    overflow: scroll;
    border: none;
}