.logo:hover {
        transform: rotate(90deg);
    
}
.logoName {
    size: 350px;
}
.logo-flex {
    display: flex; 
    flex-direction: column;
    width: 350px;
}

.side-bar {
    background-color: white;
    margin-left: 48px;
    margin-top: 0px;
    width: 10%;
}

.side-list {
    list-style-type: none;
    margin-right: 24px;
}
.side-title {
    color: #3c89e8; 
    text-transform: uppercase;
    background-color: #f2f2f2; 
    padding: 20px;
    // margin-top: -12px;
    border-radius: 7px; 
    width: 80%;
    text-align: center;
    
    
}
.side-day {
    text-transform: uppercase;
    color: #4B3ce8;
    background-color: #d8d8d8; 
    padding: 20px;
    border-radius: 7px; 
    width: 15%;
    text-align: center;
    width: 80%;
}

h3 {
    margin: 0;
}
